.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    width: 100%;
    z-index: 99;
}
  
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
    background: #ddddddb6;
    color: black;
}

main{
    margin-top: 4em;
    color: #f2f2f2; /*testing text color*/
}

.navbar img{
    height: 48px;
    width: 62px;
    right: auto;
}

body{
    background-image: url(images/stars.jpg);
}

#art1{
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: x-large;
    padding-bottom: 30vh;
}

#art1 h1{
    text-decoration: underline;
    font-style: italic;
    letter-spacing: 1vh;
    color: rgb(255, 34, 34);
    text-shadow: 0px 0px 15px #20a6ff;
}

#art1 img{
    float: left;
    margin-left: 4em;
}

.foot{
    display: flex;
    flex-direction: column;
}

.pictures img{
    width: 10%;
    height: 10%;
}

.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center; /* Align items vertically */
    gap: 1em; /* Add spacing between text and image */
    max-width: 80%; /* Adjust as needed */
}

.container h2 {
    flex: 1; /* Allow text to take up available space */
    text-align: center;
}

#slideshow img {
    width: auto;
    height: 30vh; /* Adjust the height as needed */
    flex-shrink: 0; /* Prevent image from shrinking */
}

@media screen and (max-width: 800px){
    main{
        margin-top: 6em;
    }
}
